<h1>Todos</h1>

<div>
  <a href="/todos/new">
   新規作成 
  </a>
</div>
<% @todos.each do |todo| %>
  <div class="todo-card">
    <p><id: <%= todo.id %>/p>
    <p>title: <%= todo.title %></p>
    <p>description: <%= todo.description %></p>
    <a href="/todos/<%= todo.id %>">
     詳細
    </a>
  </div>
<% end %>


